.t-submenu--fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s ease transform;
	-o-transition: 0.3s ease transform;
	transition: 0.3s ease transform;
	z-index: 999999;
	display: block;
	opacity: 1;
	margin: 0;
	top: 0;
	left: 0;
	max-width: initial !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

.t-submenu--fullscreen:before,
.t-submenu--fullscreen:after,
.t-submenu--fullscreen .t794__tooltip-menu-corner,
.t-submenu--fullscreen .t794__tooltip-menu-corner-border,
.t-submenu--fullscreen .t966__tooltip-menu-corner,
.t-submenu--fullscreen .t966__tooltip-menu-corner-border,
.t-submenu--fullscreen .t978__tooltip-menu-corner,
.t-submenu--fullscreen .t978__tooltip-menu-corner-border {
	display: none;
}

.t-submenu--fullscreen-left.t-submenu--fullscreen {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.t978__tooltip-menu.t-submenu--fullscreen {
	background-color: white;
}

.t-submenu--fullscreen .t794__content,
.t-submenu--fullscreen .t966__content,
.t-submenu--fullscreen .t978__content {
	margin-top: 50px;
	height: calc(100% - 70px); /*50px - оступ сверху, 20px - отступ снизу*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow-y: scroll;
}

.t-submenu--fullscreen .t794__content ul,
.t-submenu--fullscreen .t966__content .t966__menu-list,
.t-submenu--fullscreen .t978__content ul {
	max-height: 100%;
}

.t-submenu--fullscreen .t-menusub__list:not(.t978__submenu-list) {
	width: calc(100% - 20px);
	max-height: 100%;
	text-align: center;
	margin-top: 0;
}

.t-submenu--fullscreen__nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.t-submenu--fullscreen__nav-title {
	width: calc(100% - 52px);
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}